@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Index";
}

<h2>BODY</h2>

@section Footer
{
    <h2>@Session["UserName"] </h2><br />
    <h2>@Session["Password"] </h2>

    <h2 style="text-align:center">ALT MENÜ HAKKIMIZDA ÖNERİLEN SİTELER</h2>    
}

