@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
<title>Kayıt</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
     @using (Html.BeginForm("Register","Register")){
<div class="container">
			<header>
				<h1> Kayıt Ol</h1>
            </header>       
     
      <div  class="form">
        
    		<form id="contactform"> 
    			<p class="contact"><label for="name">İsim</label></p> 
    			<input id="name" name="name" placeholder="Adınızı girin" required="" tabindex="1" type="text"> 

                <p class="contact"><label for="name">Soyisim</label></p> 
    			<input id="surname" name="name" placeholder="Soyadınızı girin" required="" tabindex="1" type="text"> 
    			 
    			<p class="contact"><label for="email">Email</label></p> 
    			<input id="email" name="email" placeholder="ornek@domain.com" required="" type="email"> 
                
                <p class="contact"><label for="username">Kullanıcı Adı</label></p> 
    			<input id="username" name="username" placeholder="Kullanıcı adınızı girin" required="" tabindex="2" type="text"> 
    			 
                <p class="contact"><label for="password">Şifrenizi girin</label></p> 
    			<input type="password" id="password" name="password" required=""> 
                <p class="contact"><label for="repassword">Şifrenizi onaylayın</label></p> 
    			<input type="password" id="repassword" name="repassword" required=""> 
        
                <fieldset>
                    <label>Doğum Tarihi</label>
                    <label class="month">
                        <select class="select-style" name="BirthMonth">
                            <option value="01">Ocak</option>
                            <option value="02">Şubat</option>
                            <option value="03">Mart</option>
                            <option value="04">Nisan</option>
                            <option value="05">Mayıs</option>
                            <option value="06">Haziran</option>
                            <option value="07">Temmuz</option>
                            <option value="08">Ağustos</option>
                            <option value="09">Eylül</option>
                            <option value="10">Ekim</option>
                            <option value="11">Kasım</option>
                            <option value="12">Aralık</option>

                        </select>  
                    </label>
                     
                    <label>Gün<input class="birthday" maxlength="2" name="BirthDay" placeholder="Gün" required=""></label>
                    <label>Yıl
                        <input class="birthyear" maxlength="4" name="BirthYear" placeholder="Yıl" required=""></label>
                </fieldset>
  
            <select class="select-style gender" name="gender" >
            <option value="m">Erkek</option>
            <option value="f">Kadın</option>

            </select><br><br>
                <label>Ülke</label><br />
                <select class="select-style gender" name="Country" >
            
            </select><br><br>
                <label>Şehir</label><br />
                <select class="select-style gender" name="Province" >
          
            </select><br><br>
            
           
            <input class="buttom" name="submit" id="submit" tabindex="5" value="Kaydı Tamamla" type="submit"> 	 
   </form> 
     
             
                                  

</div>
    </div>
     }
</body>
</html>
