@model NeoSocial.ViewModels.MailV
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "ForgotPassword";
}


<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Şifremi Unuttum</title>
    
  </head>

  <body>
      @Html.BeginForm("ForgotPassword","User",FormMethod.Post)
   
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Şifremi Unuttum</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
                    @Html.TextBoxFor(model=>model.mail.ToEmail,new {@class="login-form",@type="mail"})

				@*<input type="text" class="login-field" value="" placeholder="Email " id="forgot-mail">*@
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				 <input class="button" name="submit" id="submit" tabindex="5" value="Send" type="submit"  > 

                @Html.ActionLink("Anasayfa'ya dön","Index", "Home") <br />
               
			</div>
		</div>
	</div>

    
    
  </body>
</html>

