body {
}

#icon1 {

    height:32px;
    width:32px;
}
#icon2 {

    height:32px;
    width:32px;
}
#icon3 {

    height:32px;
    width:32px;
}
#icon4 {

    height:32px;
    width:32px;
}
#icon5 {

    height:32px;
    width:32px;
}
#icon6 {

    height:32px;
    width:32px;
}
#icon7 {

    height:32px;
    width:32px;
}
#icon8 {

    height:32px;
    width:32px;
}
#icon9 {

    height:32px;
    width:32px;
}
#icon10 {

    height:32px;
    width:32px;
}
#icon11 {

    height:32px;
    width:32px;
}
#icon12 {

    height:32px;
    width:32px;
}