<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB_9D589F_neosocialContext" connectionString="Data Source=SQL5014.Smarterasp.net;Initial Catalog=DB_9D589F_neosocial;Persist Security Info=True;User ID=DB_9D589F_neosocial_admin;Password=mertaltug1993;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>