<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/stylelogin.css" />
</head>
<body>
    
    <div id="content">
        @RenderBody()
    </div>
   
</body>
</html>
