@model NeoSocial.ViewModels.ViewModel

@{
    ViewBag.Title = "Icon";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Icon</title>
	
</head>

<body>	

    @Html.BeginForm("Icon","Profile",FormMethod.Post)


    @Html.RadioButtonFor(model=>model.profile.IconID,1)  <img src= "@Url.Content("~/Content/Image/Icons/iconFamale.jpg")" alt="Image" />


    </body>
    </html>