@model NeoSocial.ViewModels.ViewModel

@{
    ViewBag.Title = "Icon";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Icon</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/styleicon.css"
	
</head>

<body>	

   

  <img src= "@Url.Content("~/Content/Image/Icons/iconFamale.gif")" alt="Image" />  @Html.RadioButtonFor(model => model.profile.IconID, 1, new { @id="icon1" }) 


    </body>
    </html>